<div class="jumbotron animated fadeIn">
    <h1 class="display-4">Sobre este sitio</h1>
    <p class="lead">Información</p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore accusamus quibusdam obcaecati atque quod consequatur architecto autem. Dolorem sint porro in culpa, officiis rerum iure magnam eius rem, odio ea.
    </p>
    <a class="btn btn-primary btn-lg" target="_blank" href="http://tesoem.edomex.gob.mx/" role="button">TESOEM</a>
</div>